*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define a class for each product card */
.product-card {
  float: left;
  width: 25%; /* 25% width to create a 4-column layout */
  padding: 5px;
  box-sizing: border-box;
}

/* Clear the float after each row */
.product-row::after {
  content: '';
  display: table;
  clear: both;
}

/* Style the product gallery container (optional) */
.product-gallery {
  margin: 0 auto;
  max-width: 95%; /* Adjust this as needed */
}

/* CustomNumberInput.css */

.custom-number-input {
  display: flex;
  align-items: center;
}

.custom-number-input button {
  background-color: #808080;
  color: #fff;
  border: none;
  padding: 5px 3px;
  cursor: pointer;
}

.custom-number-input input {
  text-align: center;
  width: 50px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}


.receipt-card {
  width: 100%; /* Make the card occupy all available horizontal space */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
}

.receipt-content {
  margin-top: 16px;
}

/* Targeting elements by their IDs */
#receipt-table {
  width: 100%;
  border-collapse: collapse;
}


#table-header-name {
  padding: 8px;
  margin-left: 10%;
  margin-right: 90%;
  border: none; /* Remove borders from th and td */
  text-align: left;
}


#table-header-price,
#table-header-quantity {
  padding: 8px;
  margin-right: 7%;
  border: none; /* Remove borders from th and td */
  text-align: left;
}

/* Center-align the header "Quantity" */
#table-header-quantity {
  text-align: center;
}

/* Center-align the product quantities in table cells */
td.quantity {
  text-align: center;
}

/* Style the total amount, move it to the right */
#total-amount {
  margin-top: 16px;
  margin-right: 7%;
  text-align: right;
}

/* UserView.css */
.loading-animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.loading-animation {
  border: 15px solid #f3f3f3;
  border-top: 15px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  margin-top: 20px;
  font-weight: bold; /* Make only the "Loading" text bold */
  color: #3498da; /* Match the spinner color */
  font-size: 15px;
}